# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [1]:
import pandas as pd
from pandas import Series

In [2]:
# todo:
serie_numeros = pd.Series([1, 2, 3, 4, 5])

serie_numeros

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
capitales = Series({"Argentina": "Buenos Aires", "Brasil": "Brasilia", "Uruguay": "Montevideo", "Chile": "Santiago"})
capitales

Argentina    Buenos Aires
Brasil           Brasilia
Uruguay        Montevideo
Chile            Santiago
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [14]:
# todo:
# Crear una Series con tareas de la semana
tareas_semana = Series({
    "Lunes": "Estudiar",
    "Martes": "Hacer ejercicio",
    "Miércoles": "Leer",
    "Jueves": "Cocinar",
    "Viernes": "Trabajar",
    "Sábado": "Limpiar",
    "Domingo": "Descansar"
})

tareas_semana

# Modificar los valores de algunos días
tareas_semana["Martes"] = "Ir al gimnasio"
tareas_semana["Jueves"] = "Hacer compras"
tareas_semana["Sábado"] = "Salir a caminar"

# Mostrar la Series modificada
print(tareas_semana)

Lunes               Estudiar
Martes        Ir al gimnasio
Miércoles               Leer
Jueves         Hacer compras
Viernes             Trabajar
Sábado       Salir a caminar
Domingo            Descansar
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [16]:

# todo:

serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([10, 20, 30, 40, 50])

resultados = {
    "Suma": serie1 + serie2,
    "Resta": serie1 - serie2,
    "Multiplicación": serie1 * serie2,
    "División": serie1 / serie2
}

for operacion, resultado in resultados.items():
    print(f"{operacion}:\n{resultado}\n")

potencias = {
    "Cuadrado": serie1 ** 2,
    "Cubo": serie1 ** 3,
    "Cuarta potencia": serie1 ** 4
}

for potencia, resultado in potencias.items():
    print(f"{potencia}:\n{resultado}\n")

Suma:
0    11
1    22
2    33
3    44
4    55
dtype: int64

Resta:
0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64

Multiplicación:
0     10
1     40
2     90
3    160
4    250
dtype: int64

División:
0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

Cuadrado:
0     1
1     4
2     9
3    16
4    25
dtype: int64

Cubo:
0      1
1      8
2     27
3     64
4    125
dtype: int64

Cuarta potencia:
0      1
1     16
2     81
3    256
4    625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [ ]:

# todo:
edades = pd.Series({
    "Persona 1": 15,
    "Persona 2": 22,
    "Persona 3": 17,
    "Persona 4": 19,
    "Persona 5": 30,
    "Persona 6": 12,
    "Persona 7": 25,
    "Persona 8": 18,
    "Persona 9": 16,
    "Persona 10": 21
})

mayores_18 = edades[edades > 18]
print("Mayores de 18:\n", mayores_18)

edades[edades < 18] = "Menor de edad"

edades

Mayores de 18:
 Persona 2     22
Persona 4     19
Persona 5     30
Persona 7     25
Persona 10    21
dtype: int64

/tmp/ipykernel_18923/3395001055.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de edad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades[edades < 18] = "Menor de edad"

Persona 1     Menor de edad
Persona 2                22
Persona 3     Menor de edad
Persona 4                19
Persona 5                30
Persona 6     Menor de edad
Persona 7                25
Persona 8                18
Persona 9     Menor de edad
Persona 10               21
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: